.restaurant-card {
    background: #181b21;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0, 0, 0, .2);
    transition: .3s;
}

.restaurant-card:hover {
    transform: translateY(-6px);
}

.restaurant-card img {
    width: 100%;
    height: 210px;
    object-fit: cover;
}

.restaurant-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    padding: 30px 7%;
}


.restaurant-grid::-webkit-scrollbar {
    display: none;
}

.restaurant-grid .restaurant-card {
    flex: 0 0 330px;
}

@media (max-width: 768px) {

    .restaurant-grid {
        gap: 15px;
    }

    .restaurant-grid .restaurant-card {
        flex: 0 0 280px;
    }
}

.restaurant-section {
    padding: 50px 7%;
    background: #0f1115;
    color: white;
}

.restaurant-section h2 {
    font-size: 28px;
    margin-bottom: 25px;
}

@media (max-width: 768px) {

    .restaurant-section {
        padding: 30px 5%;
        overflow: hidden;
    }

    .restaurant-section h2 {
        font-size: 23px;
        margin-bottom: 20px;
    }

    .restaurant-grid {
        display: flex;
        gap: 14px;

        overflow-x: auto;
        overflow-y: hidden;

        padding-bottom: 10px;

        scrollbar-width: none;
    }

    .restaurant-grid::-webkit-scrollbar {
        display: none;
    }

    .restaurant-card {
        flex: 0 0 180px;
        width: 180px;
    }

    .restaurant-image {
        height: 180px;
    }
}